.header {
	background-color: #222;
	color: #fff;
	padding-top: 17px;
	margin-bottom: 25px;
}

.top-menu {
	background-color: #444;
	padding-top: 7px;
	padding-bottom: 7px;
}

.top-menu a {
	display: inline-block;
	color: #fff;
	padding-right: 10px;
}

label {
	font-weight: bold;
}

.pb-50 { padding-bottom: 50px !important; }
.pb-25 { padding-bottom: 25px !important; }

.pt-50 { padding-top: 50px !important; }

.mb-15 { margin-bottom: 15px !important; }
.mb-5 { margin-bottom: 5px !important; }