html {
	height: 100%;
}

body {
	min-height: 100%;
}

#wrapper {
	position: relative;
	min-height: 100vh;
}

#content {
	padding-bottom: 80px;    /* Footer height */
}

.header {
	background-color: #222;
	color: #fff;
	padding-top: 17px;
	margin-bottom: 25px;
}

.top-menu {
	background-color: #444;
	padding-top: 7px;
	padding-bottom: 7px;
}

.top-menu a {
	display: inline-block;
	color: #fff;
	padding-right: 10px;
}

label {
	font-weight: bold;
}

#alerts-wrapper {
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 350px;
}

.alert-danger {
	background-color: #b2111f;
	color: #fff !important;
}

.alert-success {
	background-color: #007d1c;
	color: #fff !important;
}

.help {
	cursor: pointer;
}

.help-content {
	display: none;
}

#createRecordForm .specialInput,
#updateRecordForm .specialInput {
	display: none;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 80px 15px 15px 15px;
	min-height: 80px;
	text-align: center;
}

.pb-50 { padding-bottom: 50px !important; }
.pb-25 { padding-bottom: 25px !important; }

.pt-50 { padding-top: 50px !important; }

.mb-15 { margin-bottom: 15px !important; }
.mb-5 { margin-bottom: 5px !important; }

.material-icons.xs-20 { font-size: 24px; }