.header {
	background-color: #222;
	color: #fff;
	padding-top: 17px;
	margin-bottom: 25px;
}

.top-menu {
	background-color: #444;
	padding-top: 7px;
	padding-bottom: 7px;
}

.top-menu a {
	display: inline-block;
	color: #fff;
	padding-right: 10px;
}